body{
    background-color: rgb(241, 190, 173);
    font-family:Consolas, 'Courier New', monospace;
    color:rgb(61, 32, 23);
    font-size: 20px;
}

h1, h2, h3,
h4, h5, h6{
    margin: 0;
}

.header{
    text-align: right;
    margin-bottom: 20px;
}

.container{
    background-color: rgb(168, 111, 92);
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 5px solid black;
    margin: 10px;
    width: 500px;
    height: 300px;
}

.block{
    background-color: rgb(96, 65, 54);
    color: rgb(241, 190, 173);;
    width: 200px;
    height: 200px;
    text-align: center;
}

.container-2{
    background-color: rgb(168, 111, 92);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid black;
    margin: 10px;
    width: 300px;
    height: 500px;
}

.block-2{
    background-color: rgb(96, 65, 54);
    color: rgb(241, 190, 173);;
    width: 200px;
    height: 200px;
    text-align: center;
}

.container-3{
    background-color: rgb(168, 111, 92);
    display: flex;
    text-align: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid black;
    margin: 10px;
    padding: 40px 10px;
    max-width: 800px;
}

.block-3{
    background-color: rgb(96, 65, 54);
    color: rgb(241, 190, 173);
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 5px;
}

.container-4{
    background-color: white;
    width: 850px;
    height: 850px;
    position: relative;
}

.square-1{
    width: 200px;
    height: 200px;
    border: 3px solid red;
    margin: 5px;
    position: absolute;
    left: 150px;
    top: 150px;
}

.square-2{
    width: 200px;
    height: 200px;
    border: 3px solid blue;
    margin: 5px;
    position: absolute;
    left: 300px;
    top: 300px;
}

.square-3{
    width: 200px;
    height: 200px;
    border: 3px solid greenyellow;
    margin: 5px;
    position: absolute;
    left: 450px;
    top: 450px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-kitten {
    position: fixed;
    top: auto;
    right: 10px;
    bottom: 10px;
    left: auto;
}