body{
    background-color: rgb(241, 190, 173);
    font-family:Consolas, 'Courier New', monospace;
    color:rgb(61, 32, 23);
    font-size: 20px;
}

h1, h2, h3,
h4, h5, h6{
    margin: 0;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 70px;
    letter-spacing: 10px;
    font-weight: 1;
}

a{
    text-decoration: none;
    color:rgb(61, 32, 23);
}

a:visited {
    text-decoration: none;
    color:rgb(169, 42, 3)
}

.header{
    line-height: 1.5;
    display: flex;
    text-align: right;
    margin-bottom: 20px;
    flex-direction: column;
    border-radius: 1px;
    letter-spacing: 5px;
    font-weight: 1;
}

table, th, td{
    border: 2px solid rgb(61, 32, 23);
    border-collapse: collapse;
    padding: 10px;
}

table{
    justify-content: center;
    text-align: center;  
    background-color: rgb(241, 190, 173); 
    max-width: 1100px;
    margin-top: 40px;
}

.id{
    width: 3%;
}

.FIO{
    width: 28.5px;
}

.course{
    width: 9.5%;
}

.github{
    width: 11,4%;
}

.table_foto{
    width: 28.4%;
}

.cat_foto{
    height: 200px;
}

.cat_table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row1{
    background-color: rgb(255, 225, 215);
}

.row2{
    background-color: rgb(219, 132, 103);
}

.row3{
    color: rgb(241, 190, 173);
    background-color: rgb(99, 53, 38);
}

form{
    text-align: center;
    font-size: 25px;
}

input{
    font-size: 18px;
    height: 26px;
    width: 220px;
    margin: 5px;
    font-family: Consolas, 'Courier New', monospace;
}

fieldset{
    border-color: rgb(99, 53, 38);
}

.submit {
    font-size: 20px;
    height: 40px;
    width: 230px;
    margin: 5px;
    color: rgb(239, 198, 184);
    background-color: rgb(99, 53, 38);
}

.img-kitten {
    width: 50px;
    height: 50px;
    position: fixed;
    top: auto;
    right: 10px;
    bottom: 10px;
    left: auto;
}